@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
  display: block;
}

.desktop-menu {
  display: none;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}
